// Mixins Here

.btnRadius (@radius) {
    border-radius: @radius;
   }

.padding (@topbottom, @leftright) {
    padding-top: @topbottom;
    padding-bottom: @topbottom;
    padding-left: @leftright;
    padding-right: @leftright;
}