// Navigation code here
.header-content {
     .container;
   text-align: center;
  
   
    h1 {
        .container;
        font-size: 3.6rem;
        padding: 12px;
        .shadow (red);
    }

    .nav-tags a {
       margin: 20px;
       text-decoration: none;
       font-size: 1.6rem;
       color: @header-font-color;
    }
       a:hover {
           background-color: @header-font-color;
           color: @wild-sand;
       }

       @media @phone {
           margin: 10px;
       }

    }

